{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
    <div class="wrapper">
        {% include 'include/navBar.html.twig' %}
        <div class="main-section"> {% block content %}{% endblock %} </div>
    </div>
    </body>

{% endblock %}
