<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        {% block stylesheets %}
<<<<<<< HEAD
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
=======
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css') }}">
            {<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">#}
>>>>>>> #27_guestPage
        {% endblock %}
    </head>
    <body>

    {% block body %}

            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
            {% block scripts %}
                <script>
                    $('select[data-select="true"]').select2();
                    $(document).ready(function() {
                        M.updateTextFields();
                    });

                </script>

            {% endblock %}
        {% endblock %}
    </body>
</html>
