{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('css/content.css') }}">
{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8">
        <title>User Dashboard</title>
    </head>
    <body>
    <div class="wrapper">
        {% include 'include/navBar.html.twig' %}
        <div class="main-section">
            <div class="row center-align">
                <div class="col s2"></div>
                <div class="col s8 main row">
                    {% block content %}{% endblock %}
                </div>
                <div class="col s2"></div>
            </div>
        </div>
    </div>
    </body>

{% endblock %}
