{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
          <a class="navbar-brand" href="#"><img src="../web/image/Logo.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Contact</a></li>
                <li><a class="waves-effect waves-light btn" id="sendmail">Login</a></li>
            </ul>
        </div>
    </nav>

    <div>
        <h1 style="margin-left:35%; margin-top: 300px;">
            WELKOM BIJ
            CIMEETS
        </h1>
    </div>
    <div class="row" style="margin-top: 500px">
        <div class="col s6 m3 center"style="margin-left: 10%">
            <div class="card">
                <div class="card-image">
                    <img src="../web/image/call.png">
                    <span class="card-title">Call</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Learn More</a>                </div>
            </div>
        </div>
        <div class="col s6 m3 center">
            <div class="card">
                <div class="card-image">
                    <img src="../web/image/meet.png">
                    <span class="card-title">Meet</span>
                </div>
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="card-action">
                    <a href="#">Learn More</a>                </div>
            </div>
        </div>
        <div class="col s6 m3 center">
                <div class="card">
                    <div class="card-image">
                        <img src="../web/image/chat.png">
                        <span class="card-title">Chat</span>
                    </div>
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.
                            I am convenient because I require little markup to use effectively.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Learn More</a>
                    </div>
                </div>
        </div>
    </div>
    <br>

    <div id="welcome">
        <h1 style="margin-left:35%; margin-top: 300px;">Hoe werkt CimMeets</h1>        <img src="../web/image/afb1.png" width="350" height="225" style="float:right; margin-right : 50px; margin-top: 50px">
    </div>

{% endblock %}


{#    <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#        <div class="container-fluid">#}
{#            <a class="navbar-brand" href="#"><img src="../image/Logo.png"></a>#}
{#        </div>#}
{#        <form class="form-inline my-2 my-lg-0">#}
{#            <button class="btn btn-outline-success my-2 my-sm-0"  type="submit" formaction="/" >Login</button>#}
{#        </form>#}
{#    </nav>#}

{#    <form action="/action_page.php">#}
{#        <label for="emails">Enter email addresses:</label>#}
{#        <input type="email" id="emails" name="emails" multiple>#}
{#        <input type="submit">#}
{#    </form>#}