{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{#    <link rel="stylesheet" href="{{ asset('css/loginPage.css') }}">#}
    <link rel="stylesheet" href="{{ asset('css/testu.css') }}"
{% endblock %}

{% block body %}
    <div class="login_title" ><p>CimMeets Sign in</p></div>
    <div class="row">
        <div class="col 12">
            <h1>
                {{ msg }}
            </h1>
        </div>
    </div>
{% endblock %}