{% extends 'baseUser.html.twig' %}

{% block content %}
    <div>
        <h1 class="white-text" style="margin-left:35%; margin-top: 300px;">WELKOM BIJ CIMMEETS</h1>
    </div>

    <div class="row" style="margin-top: 500px">
        <div class="column">
            <h2 class="white-text" style="margin-left: 25%">Waarom CimMeets?</h2>
            <h5 class="white-text" style="margin-left: 100px; margin-right: 100px">CimMeets is een applicatie ontwikkeld voor CimSolutions om inplannen en evaluatie's makkelijk en overzichtelijk bij te houden, dit is niet alleen super handig voor werknemers maar ook voor managers en administratie zodat zij beter voor vergaderingen kunnen voorbereiden als zij met een overzicht kunnen zien wie er op komt dagen. ook tijdens vergaderingen kan er aanwezigheid aangepast worden. dit allemaal zodat Cimsolutions zonder problemen vergaderingen kan houden!</h5>
        </div>

        <div class="column">
            <video controls="controls" controlslist="" style="width: 600px">
                <source src="https://www.cimsolutions.nl/sites/default/files/CimSolutions%20Ident%20slogan%20B%20%2B%20audio%20light.m4v" type="video/x-m4v">
            </video>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    .column {
        float: left;
        width: 50%;
        padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    </style>
{% endblock %}
