{% extends 'baseUser.html.twig' %}

{% block content %}
        <div class="current-page">
            <h2>About</h2>
        </div>
        <div class="place-holder">
            <img src="{{ asset("images/about-us.jpg") }}">
        </div>
{% endblock %}
