{% extends 'baseUserEmployee.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Agenda</h2>
    </div>
    <div class="place-holder">
        <img src="{{ asset("images/salonized-agenda.png") }}">
    </div>
{% endblock %}
