{% extends 'baseUser.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Groups</h2>
    </div>
    <div class="place-holder">
        <img src="{{ asset("images/werknemers.jpg") }}">
    </div>
{% endblock %}
