{% extends 'baseUser.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Home</h2>
    </div>
    <div class="welcome-text">
        <h1>Welcome to <span>CimMeets</span>!<br>Learn, create and make it work</h1>
        <form class="learn-more" action="https://www.cimsolutions.nl/">
            <button type="submit" class="btn">Learn more</button>
        </form>
    </div>
    <div class="upcoming-meetings">
        <h2>These are your upcoming <span>Meetings</span>:</h2>

    </div>
{% endblock %}
