{% extends 'baseContent.html.twig' %}

{% block content %}
    <div class="current-page">
        <h2>Meetings</h2>
    </div>
    <div class="meeting-feedback">
        <table>
            <thead>
            <tr>
                <th><h4>Meeting</h4></th>
                <th><h4>Feedback</h4></th>
                <th><h4>Actions</h4></th>
            </tr>
            </thead>
            <tbody>
            {% for meeting in meetings %}
                <tr>
                    <td class="show-meetings">
                        {{ meeting }}
                    </td>
                    <td>
                        <a class="btn {% for feedback in feedbacks %}{% if feedback.meeting == meeting %}disabled{% endif %}{% endfor %}" href="{{ path('employee-feedback', {'id':meeting.id}) }}">feedback</a>
                    </td>
                    <td>
                        {% set meetingState = getMeetingState(meeting, app.user) %}
                        {% if meetingState is null %}
                            <a class="btn" href="{{ path('employee-meeting-accept', {'id':meeting.id}) }}">accept</a>
                            <a class="btn red" href="{{ path('employee-meeting-decline', {'id':meeting.id}) }}">decline</a>
                        {% else %}
                            {% if meetingState == 1 %}
                                <p>
                                    Meeting Accepted
                                    <i class="material-icons">check</i>
                                </p>
                            {% elseif meetingState == -1 %}
                                <p>
                                    Meeting Accepted
                                    <i class="material-icons">close</i>
                                </p>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
