{% extends 'baseContent.html.twig' %}

{% block content %}

    <h5>{{ meeting }}</h5>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Attendance</th>
                <th>Acceptance</th>
            </tr>
        </thead>

        <tbody>
            {% for attendee in attendees %}
                <tr>
                    <td>{{ attendee.user }}</td>
                    <td><a class=" btn blue {% for feedback in feedbacks %}{% if feedback.user.id == attendee.user.id %}enabled{% endif %}{% endfor %}" href="{{ path('manager-feedback-view', {user: attendee.user.id}) }}">Feedback</a></td>
                    {% if attendee.state == 1 %}<td>accepted</td>
                    {% else %}<td>declined</td>
                        {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}