{% extends 'baseContent.html.twig' %}

{% block content %}
    <table>
        <h2>Groepen</h2>
        <thead>
        <tr>
            <th>Groep Naam</th>
            <th>Groep Beschrijving</th>
            <th>Gebruikers in Groep</th>
            <th>
            <a class="btn green" href="{{ path('manager-group-create')}}">Aanmaken</a>
            </th>
        </tr>
        </thead>

        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>
                    <a class="btn green" href="{{ path('manager-users-view-group', {groupid: group.id}) }}">Gebruikers</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}