{% extends 'baseContent.html.twig' %}

{% block content %}
    <h2 class="center white-text">Feedback </h2>
    <table class="container white-text" >
        <tbody>
            <tr>
                <td>Attending :</td>
                {% if feedback.attending == 1%}
                    <td style="color: #69F0AE;">Present</td>
                {% else%}
                    <td style="color: red;">Absent</td>
                {% endif %}
            </tr>
            <tr>
                <td>Feedback :</td>
                <td>{{ feedback.feedback }}</td>
            </tr>
            <tr>
                <td>Rating :</td>
                <td>{{ feedback.rating }} van de 10</td>
            </tr>
            <tr>
                <td>User :</td>
                <td>{{ feedback.user.username }}</td>
            </tr>
            <tr>
                <td>Meeting :</td>
                <td>{{ feedback.meeting.name }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}