{% extends 'baseContent.html.twig' %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Descroption</th>
            <th>Users in group</th>
            <a class="btn green" href="{{ path('manager-group-create')}}">Create</a>
        </tr>
        </thead>

        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.description }}</td>
                <td>
                    <a class="btn green" href="{{ path('manager-users-view-group', {groupid: group.id}) }}">Users</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}