
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.wrapper{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url("../images/4UZAlQ.jpg");
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    padding: 40px 120px;
}
.nav-logo{
    /*margin-left: 20px;*/
    margin-bottom: 20px;

}
.nav-items{
    flex: 1;
}
.nav-items ul{
    margin-left: 50px;
    display: inline;
}
.nav-items ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-items ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-items ul li::after{
    content:"";
    width: 0;
    height: 2px;
    background: #69F0AE;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-items ul li:hover::after{
    width: 100%;
}
.btn{
    padding: 10px auto;
    border: 0;
    background: #69F0AE;
    font-weight: bold;
    cursor: pointer;
    size: 50px;
}
.nav-items .btn{
    float: right;
}
.welcome-text{
    margin: 80px;
    color: #f9f2f4;
}
.welcome-text span{
    color: #69F0AE;
}
.current-page {
    margin: 80px;
}

h2 {
    color: #69F0AE;
}

.upcoming-meetings{
    margin: 80px;
    color: #fff;
}

.upcoming-meetings span{
    color: #69F0AE;
}