{% extends 'base.html.twig' %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
          <a class="navbar-brand" href="#"><img src="../web/image/Logo.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Contact</a></li>
                <li><a class="waves-effect waves-light btn" href="employeeLogin/login.html.twig">Login</a></li>
            </ul>
        </div>
    </nav>

    {#    <div>#}
    {#        <label for="email">To Email:</label>#}
    {#        <input type="email" id="email">#}
    {#        <label for="subject">Subject</label>#}
    {#        <input type="text" id="subject">#}
    {#        <label for="message">Message</label>#}
    {#        <input type="text" id="message">#}
    {#        <button type="submit" id="sendmail"></button>#}
    {#    </div>#}

{% endblock %}


