{% extends 'baseUser.html.twig' %}

{% block content %}
    <div class="current-page center">
        <h2>Homepagina</h2>
    </div>
    <div class="welcome-text">
        <h1>Welkom bij <span>CimMeets</span>!<br></h1>
        <form class="learn-more" action="https://www.cimsolutions.nl/%22%3E
            <button type="submit" class="btn green">info Cimsolutions</button>
        </form>
    </div>
{% endblock %}